// element-ui
$--color-primary: rgba(178, 94, 239, 1);
$--color-primary-hover: rgba(178, 94, 239, 0.8);

// size
$mini-size: 320px;
$xsmall-size: 420px;
$small-size: 500px;
$middle-size: 720px;
$large-size: 1024px;
$xlarge-size: 1500px;

// common
$card-backgroud-color: rgba(255, 255, 255, 0.8);
$card-default-width: $small-size;
